<div class="survey" ng-app="surveyCtrl" ng-controller="surveyController">
  <header> 
    <h3 ng-bind='form.title'></h3> 
  </header>
  <article class='surveyContent'>
    <div ng-repeat="oneQuestion in form.content"> 
      <h3>Q{{$index + 1}} 
        <span ng-bind='oneQuestion.question'></span> 
        <span ng-if='oneQuestion.require'>(必填)</span> 
      </h3> 
      <label ng-repeat='option in oneQuestion.options' ng-if='oneQuestion.options'> 
        <input type='{{oneQuestion.type}}' name='{{oneQuestion.question}}'> 
        <p ng-bind='option.option'></p> 
      </label> 
      <textarea ng-if='!oneQuestion.options'></textarea> 
    </div>
  </article>
  <footer> 
    <button ng-click='sendForm()'>提交问卷</button> 
    <button ng-click='backList()'>返回</button> 
  </footer>
</div>
